<div id="login">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default panel-login">
					<div class="panel-heading">
						<h4>Login</h4>
					</div>
					<div class="panel-body">
						<form ng-submit="login()">
							<div class="form-group">
								<div class="alert alert-danger" role="alert" ng-show="error" ng-bind="errorMessage"></div>
								<input type="text" class="form-control" id="username" placeholder="Username" ng-model="loginForm.username" required>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="password" placeholder="Password" ng-model="loginForm.password" required>
							</div>											
							<button type="submit" class="btn btn-primary" ng-disabled="disabled">Login</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
