<div id="register">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default panel-register">
					<div class="panel-heading">
						<h4>Register</h4>
					</div>
					<div class="panel-body">
						<form ng-submit="register()">
							<div class="form-group">
								<div class="alert alert-success" role="alert" ng-show="success" ng-bind="message"></div>
								<div class="alert alert-danger" role="alert" ng-show="fail" ng-bind="message"></div>
								<input type="text" class="form-control" id="username" placeholder="Username" ng-model="registerForm.username">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="email" placeholder="Email" ng-model="registerForm.email_address">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="password" placeholder="Password" ng-model="registerForm.password">
							</div>						
							<button type="submit" class="btn btn-primary" ng-disabled="disabled">Register</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>