body {
	background-color: white;
    padding-top: 70px;
}

#login, #register {
	margin-top: 150px;
}

.panel-login, .panel-register {
	text-align: center;
}

.nav {
	text-align: right;
}

.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black; 
    display: block; 
    padding: 12px; 
    text-decoration: none; 
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50; 
    color: white;
}
